<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  viewBox="0 0 286.2 312.7" style="enable-background:new 0 0 286.2 312.7;" xml:space="preserve">
  <g id="Layer_2" class="hidden">
    <rect x="-162.5" y="-103" class="inline" width="627" height="545" />
  </g>
  <g id="Layer_1">
    <g>
      <g>
        <path class="fill-inherit" d="M34.6,0.4v48.9h34.2L0,312.7h50.1l34.5-131h65v44l48.9-0.3V0.4H34.6z M149.6,132.9H97.2l21.9-83.6h30.6v83.6
				H149.6z" />
      </g>
      <g>
        <g>
          <polygon class="fill-inherit"
            points="215.8,242.7 118.5,242.7 118.5,312.7 286.2,312.7 286.2,89.9 215.8,89.9 				" />
        </g>
        <g>
          <rect x="215.8" class="fill-inherit" width="70.4" height="67.9" />
        </g>
      </g>
    </g>
  </g>
</svg>
