<aside
  class="flex flex-col h-fill my-14 mr-5 px-5 pt-10 box-content border-r border-gray-400 justify-start min-w-[15rem] max-w-xs">
  <div class="flex items-center gap-3 w-full">
    <h6 class="capitalize text-white text-2xl flex-shrink-0 leading-none"><span class="text-green-500">#</span>Sections
    </h6>
    <span class="flex-grow border-t border-gray-400"></span>
  </div>
  <div class="flex flex-col gap-4 mt-10">
    <a routerLink="." [fragment]="section.anchor" class="flex relative border py-2 px-2.5 items-center  gap-2 flex-grow border-gray-400 group hover:bg-black hover:border-white cursor-pointer"
      *ngFor="let section of sections$ | async;let i = index;" (click)="setSection($event,i)"
      [ngClass]="{'border-green-500': i == (currentSection$ | async)?.index}">
      <mat-icon [ngClass]="{'text-green-500': i == (currentSection$ | async)?.index}">{{ section.icon }}</mat-icon>
      <span class=" group-hover:text-white">{{ section.name }}</span>
    </a>
  </div>
</aside>
