<app-layout>
  <swiper-container #swiper class=" w-full h-fill z-0" loop="false" direction="vertical" mousewheel="true">
    <swiper-slide class="!h-fit lg:h-auto"><aj-introduction></aj-introduction></swiper-slide>
    <swiper-slide class="!h-fit lg:h-auto"><aj-edu-exp></aj-edu-exp></swiper-slide>
    <swiper-slide class="!h-fit lg:h-auto"><aj-techs></aj-techs></swiper-slide>
    <swiper-slide class="!h-fit lg:h-auto"><aj-projects></aj-projects></swiper-slide>
    <swiper-slide class="!h-fit lg:h-auto"><aj-testimonials></aj-testimonials></swiper-slide>
    <swiper-slide class="!h-fit lg:h-auto"><aj-contact></aj-contact></swiper-slide>
  </swiper-container>
  <!-- <div class="lg:!hidden flex flex-col">
    <aj-introduction></aj-introduction>
    <aj-edu-exp></aj-edu-exp>
    <aj-techs></aj-techs>
    <aj-projects></aj-projects>
    <aj-testimonials></aj-testimonials>
    <aj-contact></aj-contact>
  </div> -->
</app-layout>
