<app-layout>
  <div #swiper class="swiper-container w-full h-fill z-0 overflow-hidden">
    <div class="swiper-wrapper">
      <div class="swiper-slide !h-fit"><aj-introduction></aj-introduction></div>
      <div class="swiper-slide !h-fit"><aj-edu-exp></aj-edu-exp></div>
      <div class="swiper-slide !h-fit"><aj-techs></aj-techs></div>
      <div class="swiper-slide !h-fit"><aj-projects></aj-projects></div>
      <div class="swiper-slide !h-fit"><aj-testimonials></aj-testimonials></div>
      <div class="swiper-slide !h-fit"><aj-contact></aj-contact></div>
    </div>
  </div>
  <!-- <div class="lg:!hidden flex flex-col">
    <aj-introduction></aj-introduction>
    <aj-edu-exp></aj-edu-exp>
    <aj-techs></aj-techs>
    <aj-projects></aj-projects>
    <aj-testimonials></aj-testimonials>
    <aj-contact></aj-contact>
  </div> -->
</app-layout>
