<section [id]="sectionId" class="flex flex-col justify-center lg:h-screen px-0 py-5 sm:px-5 sm:py-10 pt-20">
  <aj-section-title title="Tech Stack" class="mt-auto"></aj-section-title>
  <div class="grid grid-cols-3 xl:grid-cols-5 gap-2 sm:gap-5 mb-auto mt-10">
    <div class="flex flex-col gap-2 items-center border border-green-500 py-6" *ngFor="let tech of techs$ | async">
      <aj-tech-icon [tech]="tech" [size]="size" [withoutTooltip]="true"></aj-tech-icon>
      <h6 class="text-sm sm:text-lg">{{ tech.name }}</h6>
    </div>
  </div>
</section>
