<div class="fixed grid grid-cols-3 top-0 left-0 h-12 sm:h-16 bg-cod-gray-500 lg:!hidden border-b z-50 w-full">
  <mat-icon class="cursor-pointer text-3xl sm:text-4xl !w-fit !h-fit my-auto pl-4"
    (click)="toggleLeftSideBar($event)">account_box</mat-icon>
  <aj-text-logo class="flex my-auto w-40 sm:w-80 place-self-center"></aj-text-logo>
  <mat-icon class="place-self-end cursor-pointer text-3xl sm:text-4xl !w-fit !h-fit my-auto pr-4"
    (click)="toggleRightSideBar($event)">menu</mat-icon>
</div>
<div class="flex gap-4 overflow-x-hidden" [ngClass]="(rightSideBarOpen || leftSideBarOpen) ? 'overflow-y-hidden' : 'overflow-y-auto' ">
  <div
    class="fixed bg-black bg-opacity-50 flex lg:bg-transparent lg:bg-opacity-100 z-sidenav lg:sticky top-0 w-full h-screen transform lg:transform-none lg:w-fit duration-150 ease-in-out -translate-x-full"
    [ngClass]="{'-translate-x-full': !leftSideBarOpen , 'translate-x-0' : leftSideBarOpen}"
    (click)="backdropClick($event)" #backdrop>
    <app-sidebar class="relative h-full bg-cod-gray-500" (closeBar)="toggleLeftSideBar($event)"></app-sidebar>
    <mat-icon
      class="close-btn text-2xl sm:text-5xl !w-fit !h-fit p-2 sm:p-4 box-content absolute top-0 right-0 lg:!hidden bg-cod-gray-500"
      (click)="toggleLeftSideBar($event)" #closeIcon>close</mat-icon>
  </div>
  <div
    class="fixed bg-black bg-opacity-50 flex lg:bg-transparent lg:bg-opacity-100 z-sidenav lg:sticky top-0 w-full h-screen transform lg:hidden duration-150 ease-in-out scale-x-0 origin-right "
    [ngClass]="rightSideBarOpen ? 'scale-x-100' : 'scale-x-0' " (click)="rightBackdropClick($event)"
    #rightBackdrop>
    <aj-right-sidebar class="absolute right-0 h-full bg-cod-gray-500"
      (closeBar)="toggleRightSideBar($event)"></aj-right-sidebar>
    <mat-icon
      class="close-btn text-2xl sm:text-5xl !w-fit !h-fit p-2 sm:p-4 box-content absolute top-0 left-0-0 lg:!hidden bg-cod-gray-500"
      (click)="toggleRightSideBar($event)" #closeIcon>close</mat-icon>
  </div>
  <main class="max-w-screen-lg lg:relative flex-grow mx-auto lg:mt-0 lg:h-screen">
    <div class="mx-2 sm:mx-8 lg:mr-18 xl:mr-28 h-fill">
      <ng-content></ng-content>
    </div>
    <aj-sidenav class="hidden lg:block"></aj-sidenav>
  </main>
</div>
