<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  viewBox="0 0 266.7 312.7" style="enable-background:new 0 0 266.7 312.7;" xml:space="preserve">
  <style type="text/css">
    .st0 {
      display: none;
    }

    .st1 {
      display: inline;
    }

    .st2 {
      fill: #FFFFFF;
    }
  </style>
  <g id="Layer_2" class="st0">
    <g class="st1">
      <rect width="266.7" height="312.9" />
    </g>
  </g>
  <g id="Layer_1">
    <g>
      <g>
        <path class="fill-inherit" d="M196,4v238.6h-47.2v-37.9v-4h-4H71.5h-3.1l-0.8,3l-10.3,38.9H8.9L57.5,56.2l1.3-5h-5.2H19.1V4H196
				 M80.5,153.5h5.2h59.2h4v-4V55.2v-4h-4h-34.5h-3.1l-0.8,3l-24.7,94.3L80.5,153.5 M200,0H15.1v55.2h38.5L3.7,246.6h56.7l11.1-41.9
				h73.4v41.9H200V0L200,0z M85.7,149.5l24.7-94.3h34.5v94.3H85.7L85.7,149.5z" />
      </g>
      <g>
        <g>
          <path class="fill-inherit"
            d="M262.7,93.9v214.8H103v-62h93.3h4v-4V93.9H262.7 M266.7,89.9h-70.4v152.8H99v70h167.7V89.9L266.7,89.9z" />
        </g>
        <g>
          <path class="fill-inherit" d="M262.7,4v59.9h-62.4V4H262.7 M266.7,0h-70.4v67.9h70.4V0L266.7,0z" />
        </g>
      </g>
    </g>
  </g>
</svg>
